*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: black;
}
.contenido{
    padding-top: 8vw;
    width: 98vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vw;
}
.contenido > article{
    width: 95vw;
    height: 40vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid black;
}
.contenido_left{
    width: 18%;
    height: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.contenido_left > div{
    width: 90%;
    height: 9vw;
    background-image: url(https://undergoldapparel.com/cdn/shop/files/1_1c2c6efa-aa31-4707-a2bb-d93bab8f6f58_1000x.jpg?v=1709568087);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.contenido_imagen{
    width: 40%;
    height: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.contenido_imagen > div{
    width: 95%;
    height: 35vw;
    background-image: url(https://undergoldapparel.com/cdn/shop/files/1_1c2c6efa-aa31-4707-a2bb-d93bab8f6f58_1000x.jpg?v=1709568087);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.contenido_contenido{
    width: 43%;
    height: 38vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.contenido_contenido > div > h1{
    font-size: 2vw;
}
.contenido_contenido > div > i{
    font-size: 2vw;
}
.contenido_contenido > div > p{
    word-spacing: 0.3vw;
    width: 70%;
    font-size: 1.3vw;
}
.boton_contenido {
    width: 12vw;
    height: 3vw;
    font-size: 1.5vw;
    border: none;
    background-color: beige;
    color: black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boton_contenido > a {
    border: none;
    background-color: transparent;
    font-size: 1.6vw;
    cursor: pointer;
}