<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/detalles.css">
    <title>ProyectoHTML</title>
</head>
<body>
    <section class="contenido">
        <article>
            <section class="contenido_left">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </section>
            <section class="contenido_imagen">
                <div></div>
            </section>
            <section class="contenido_contenido">
                <div><h1>Nombre del producto</h1></div>
                <div>
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star' ></i>
                    <i class='bx bxs-star' ></i>
                </div>
                <div><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently wi.</p></div>
                <div><h1>$ 100.000</h1></div>
                <div class="boton_contenido"><a href="#">Obtener</a></div>
            </section>
        </article>
    </section>
    <section class="detalles">
        <div class="detalles_header">
            <h1>Detalles</h1>
            <a href="../index.html"><i class='bx bx-arrow-back'></i></a>
        </div>
        <div class="detalles_contenido">
            <section>
                <div class="detalles_imagen"></div>
                <div class="detalles_info">
                    <h2>Nombre del producto</h2>
                    <div>
                        <h1>1</h1>
                        <h2>$ 100.000</h2>
                        <div><i class='bx bxs-trash-alt'></i></div>
                    </div>
                </div>
            </section>
            <section>
                <div class="detalles_imagen"></div>
                <div class="detalles_info">
                    <h2>Nombre del producto</h2>
                    <div>
                        <h1>1</h1>
                        <h2>$ 100.000</h2>
                        <div><i class='bx bxs-trash-alt'></i></div>
                    </div>
                </div>
            </section>
            <section>
                <div class="detalles_imagen"></div>
                <div class="detalles_info">
                    <h2>Nombre del producto</h2>
                    <div>
                        <h1>1</h1>
                        <h2>$ 100.000</h2>
                        <div><i class='bx bxs-trash-alt'></i></div>
                    </div>
                </div>
            </section>
        </div>
        <div class="detalles_fotter">
            <div><h1>Total</h1></div>
            <article>
                <h1>$ 300.000</h1>
                <div><h1>Pagar</h1></div>
            </article>
        </div>
    </section>
</body>
</html>